.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

body {
  font-family: 'Montserrat', sans-serif; }

.main {
  color: #525252;
  background-color: #e2e2e2;
  font-family: 'Montserrat', sans-serif; }
  .main__title {
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 28px;
    letter-spacing: 2.7px;
    text-shadow: 0px 6px 10px #a8a8a8;
    margin-top: 160px; }
    .main__title span {
      background-color: #9BD3CF;
      padding: 5px 5px; }
  .main__link {
    margin-top: 120px;
    padding-bottom: 150px;
    text-align: center; }
  .main__button {
    margin: 0 auto;
    color: #000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2.2px;
    text-decoration: none;
    padding: 13px 50px;
    border: 1px solid black;
    transition: 0.4s; }
    .main__button:hover {
      background-color: #c8c9ca; }

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo img {
    max-width: 190px; }
  .header__menu {
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .header__menu li {
      font-weight: 700;
      font-size: 20px; }
      .header__menu li a {
        color: #505050;
        text-decoration: none;
        transition: 0.4s; }
        .header__menu li a:hover {
          color: #222222;
          text-decoration: underline; }

.shop__container {
  max-width: 770px;
  width: 100%;
  margin: 0 auto; }
.shop__tabs {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px; }
.shop__tab {
  position: relative; }
  .shop__tab::after {
    content: "";
    opacity: 0;
    height: 1.5px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .2s; }
  .shop__tab:hover::after {
    opacity: 100; }
.shop__all {
  margin-right: 20px;
  cursor: pointer; }
.shop__popular {
  cursor: pointer; }
.shop__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
.shop__goods {
  margin-top: 50px; }

.goods {
  max-width: 165px;
  width: 100%; }
  .goods__img img {
    width: 100%;
    height: 171px; }
  .goods__title {
    margin-top: 20px; }
  .goods__price {
    margin-top: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .goods__price span span {
      padding-left: 5px; }
  .goods__buy {
    width: 40px;
    height: 40px;
    background-color: #1b2738;
    background-image: url(images/nge_logo.svg-removebg-preview.png);
    background-size: cover;
    cursor: pointer; }

.shop__page {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding-bottom: 50px; }

.page div {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #dfdfdf;
  margin-left: 10px;
  transition: .2s; }
  .page div:hover {
    background-color: #1c7eae; }

.about {
  background-color: #f8fafa; }
  .about__container {
    text-align: center; }
  .about__title {
    font-size: 38px;
    font-weight: bold;
    color: #333;
    padding-top: 80px; }
  .about__subtitle {
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 5px;
    margin-bottom: 100px;
    font-family: 'Merriweather Sans', sans-serif; }
  .about__content {
    display: flex;
    justify-content: space-around; }

.content {
  padding-bottom: 120px; }
  .content__slider img {
    max-width: 393px;
    width: 100%;
    height: 320px; }
  .content__block {
    text-align: left;
    max-width: 474px; }
  .content__title {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1c7eae;
    text-transform: uppercase; }
  .content__text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    letter-spacing: 1px; }

.footer {
  background-color: #262B2E; }
  .footer__container {
    max-width: 206px;
    width: 100%;
    margin: 0 auto; }
  .footer__title {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-top: 90px;
    margin-bottom: 17px; }
  .footer__links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px; }
  .footer__social {
    flex: 0 0 47px;
    background-color: #424648;
    transition: .2s; }
    .footer__social:hover {
      background-color: #6EEEE4; }
      .footer__social:hover svg {
        fill: #081E1C;
        padding: 10px 10px; }
    .footer__social svg {
      fill: #BEC0C1;
      padding: 10px 10px; }

.icon {
  width: 25px; }
  .icon:hover {
    fill: #081E1C; }

.path:hover {
  fill: #081E1C;
  padding: 10px 10px; }

.book {
  background-image: url(images/WhatsApp\ Image\ 2022-01-10\ at\ 17.28.17.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7; }
  .book button {
    cursor: pointer; }
  .book__container {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 90px; }
  .book__book {
    flex: 0 0 615px;
    max-width: 615px;
    background-color: #262b2e;
    opacity: 0.7; }
    .book__book form {
      display: flex;
      flex-direction: column;
      padding-left: 36px;
      padding-right: 33px; }
  .book__name {
    padding-top: 48px; }
  .book input {
    position: relative;
    background-color: #262b2e;
    outline: none;
    border: none;
    opacity: 0.6;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
    padding-left: 5px; }
    .book input::placeholder {
      font-size: 15px;
      color: #fff;
      font-family: 'Raleway', sans-serif; }
  .book input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white; }
  .book textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding-bottom: 88px;
    margin-bottom: 37px; }
  .book__mess {
    background-color: #262b2e;
    outline: none;
    border: none;
    opacity: 0.6;
    border-bottom: 1px solid white; }
    .book__mess::placeholder {
      font-size: 15px;
      color: #fff;
      font-family: 'Raleway', sans-serif; }
  .book__send {
    max-width: 245px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #00ffea;
    border: none;
    margin-bottom: 38px; }

.map {
  max-width: 501px;
  width: 100%;
  background-color: #262b2e;
  opacity: 0.7;
  font-family: 'Raleway', sans-serif;
  font-size: 15;
  color: white; }
  .map__numbers {
    padding-bottom: 25px; }
  .map__temp {
    padding-left: 31px;
    padding-top: 37px;
    margin-bottom: 23px; }
  .map__map {
    padding-left: 23px; }

/*# sourceMappingURL=style.css.map */
